{% extends "auctions/layout.html" %}

{% block body %}

{% if message_error %}
    <div class="alert alert_danger">{{ message_error }}</div>
{% endif %}

<div class="container my-5">
    <h2 class="text-center mb-4">Create a New Listing</h2>
    <form class="col-12 col-md-8 mx-auto" action="{% url 'create_listing' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name_creator" class="form-label">Creator of listing</label>
            <input name="name_creator" id="name_creator" class="form-control" autofocus type="text" placeholder="Enter the your name" required>
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="title" id="title" class="form-control" autofocus type="text" placeholder="Enter the title" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input name="description" id="description" class="form-control" type="text" placeholder="Enter the description" required>
        </div>

        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input name="category" id="category" class="form-control" type="text" placeholder="Enter the category" required>
        </div>

        <div class="mb-3">
            <label for="value" class="form-label">Value</label>
            <input name="value" id="value" class="form-control" type="number" placeholder="Enter the value" required>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input name="image" id="image" class="form-control" type="file" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
</div>
{% endblock %}
