{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <title>
        {% block title %}
            Auctions
        {% endblock %}</title>
</head>
<body class="p-4 bg-blue-50 min-h-screen flex flex-col items-center">
    <div class="p-6 bg-blue-100 rounded-xl gap-4 w-full max-w-7xl">
        <nav class="flex flex-col md:flex-row justify-between items-center gap-6">
            <section class="text-center md:text-left">
                {% if user.is_authenticated %}
                    <p class="text-2xl font-light lg:text-5xl ">Welcome, <strong>{{ user.username }}</strong>.</p>
                {% else %}
                    <p class="font-light">Not signed in.</p>
                {% endif %}
            </section>

            <ul class="flex flex-col md:flex-row gap-4 w-full md:w-auto items-center">
                <li class="w-full md:w-auto">
                    <a class="block text-cyan-100 font-medium text-xl lg:text-3xl bg-sky-500 rounded-xl p-2 text-center transition duration-300 ease-in-out hover:scale-105 hover:bg-blue-500 active:bg-blue-700 lg:w-[170px] md:w-auto" href="{% url 'index' %}">Active Listings</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="w-full md:w-auto">
                        <a class="block text-cyan-100 font-medium text-xl lg:text-3xl bg-sky-500 rounded-xl p-2 text-center transition duration-300 ease-in-out hover:scale-105 hover:bg-blue-500 active:bg-blue-700 lg:w-[170px] md:w-auto" href="{% url 'categories' %}">Categories</a>
                    </li>
                    <li class="w-full md:w-auto">
                        <a class="block text-cyan-100 font-medium text-xl lg:text-3xl bg-sky-500 rounded-xl p-2 text-center transition duration-300 ease-in-out hover:scale-105 hover:bg-blue-500 active:bg-blue-700 lg:w-[170px] md:w-auto" href="{% url 'watchlist' %}">Watchlist</a>
                    </li>
                    <li class="w-full md:w-auto">
                        <a class="block text-cyan-100 font-medium text-xl lg:text-3xl bg-sky-500 rounded-xl p-2 text-center transition duration-300 ease-in-out hover:scale-105 hover:bg-blue-500 active:bg-blue-700 lg:w-[170px] md:w-auto" href="{% url 'create_listing' %}">Create Listing</a>
                    </li>
                    <li class="w-full md:w-auto">
                        <a class="block text-cyan-100 font-medium text-xl lg:text-3xl bg-sky-500 rounded-xl p-2 text-center transition duration-300 ease-in-out hover:scale-105 hover:bg-blue-500 active:bg-blue-700 lg:w-[170px] md:w-auto" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="w-full md:w-auto">
                        <a class="block text-cyan-100 font-medium text-xl lg:text-3xl bg-sky-500 rounded-xl p-2 text-center transition duration-300 ease-in-out hover:scale-105 hover:bg-blue-500 active:bg-blue-700 lg:w-[170px] md:w-auto" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="w-full md:w-auto">
                        <a class="block text-cyan-100 font-medium text-xl lg:text-3xl bg-sky-500 rounded-xl p-2 text-center transition duration-300 ease-in-out hover:scale-105 hover:bg-blue-500 active:bg-blue-700 lg:w-[170px] md:w-auto" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <h1 class="text-4xl md:text-6xl font-medium text-center mt-8">Auctions</h1>

    {% block body %}
    {% endblock %}
</body>
</html>
