{% extends 'auctions/layout.html' %}

{% block body %}
    <h1>{{listing.title}}</h1>
    {% if listing.created_by != request.user %}
        <a href="#">Add Watchlist</a>
    {% else %}
        <a href="#">Edit Listing</a>
    {% endif %}
    

    {% if listing.image_url %}
            <img src="{{ listing.image_url.url }}" alt="{{ listing.title }}" class="card-img-left" height="300"/>
            {% else %}
            <p class="card-text">No image available</p>
            {% endif %}
    <h5><strong>Description: </strong>{{ listing.description }}</h5>
    <h5><strong>Price: </strong>{{ listing.price }}</h5>
    <h5><strong>Category: </strong>{{ listing.category }}</h5>
    {% if listing.created_by == request.user %}
     <h5><strong>Created by: </strong>You</h5>
     {% else %}
     <h5><strong>Created by: </strong>{{ listing.created_by }}</h5>
    {% endif %}

    {% if request.user.is_authenticated %}
        {% if listing.created_by != request.user %}
            <form action="" method="POST">
                <label for="amount">Dar Lance</label>
                <input name="amount" id="amount" type="text">
            </form>
        {% endif %}
    {% else %}
    <h1>Você precisa estar logado para dar lance</h1>    
    {% endif %}

{% endblock %}